# Ignore files defined in this file
testing/
output/outputfiles
output/checkpointfiles
output/commandwindowoutput.txt

# Ignore large input files > 50,000KB
# Github has a strict file size limit of 100,000KB 
input/inputdatafiles/A1fine.mat
input/inputdatafiles/C2_b.mat

input/inputdatafiles/StuttgartBeam10.mat
input/inputdatafiles/StuttgartBeam3_fine.mat
input/inputdatafiles/StuttgartBeam5_fine.mat
input/inputdatafiles/StuttgartBeam7_fine.mat
input/inputdatafiles/StuttgartBeam7_very_fine.mat

