
################
# Ignore files #
################

testing/
output/outputfiles
output/checkpointfiles
output/commandwindowoutput.txt
input/inputdatafiles


####################################################
# Ignore large input files > 50,000KB              #
# Github has a strict file size limit of 100,000KB #
####################################################


#############################
# Ignore file types #
#############################

*.mexw64
*.mexmaci64
*.mexa64
*.asv
*.DS_store

